<div class="main">

    <h2>REGISTER PAGE</h2>
    
        <div class=""> <input name="username" type="text" placeholder=" enterusername" [(ngModel)]="uname"  id="uname"></div>
       <div class=""> <input name="ac_number" type="text" placeholder="enter ac_no" [(ngModel)]="acno" id="acno"></div>
       <div class=""> <input name="pas" type="password" placeholder="password" [(ngModel)]="pswd" id="pswd"></div>

        <div class="btn"><button (click)="Register()" type="button">Register</button></div>
    


</div>
